<h2>Reactivos <small>Dinámicos</small></h2>
<hr />
<form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
  <!--Nombre persona-->
  <div class="row mb-3">
    <div class="col col-sm-3">
      <label class="col-form-label">Nombre</label>
    </div>
    <div class="col col-sm-9">
      <input
        class="form-control"
        placeholder="Introduce el nombre"
        type="text"
        formControlName="nombre"
      />
      <label *ngIf="campoNoEsValido('nombre')"
        class="form-text text-danger"
        >Este campo es obligatorio y debe tener minimo 3 caracteres</label
      >
    </div>
  </div>

  <!--Agregar-->
  <div class="row mb-3">
    <div class="col col-sm-3">
      <label class="col-form-label">Libro</label>
    </div>
    <div class="col col-sm-9">
      <div class="input-group">
        <!-- <input class="form-control" placeholder="Agregar" type="text" #favorito />
        <button class="btn btn-outline-primary"  type="button" (click) = "agregar({'id': persona.favoritos.length + 1, 'nombre': favorito.value  })">
          Agregar favorito
        </button> -->
        <input class="form-control" placeholder="Agregar favorito..." type="text" [formControl]="nuevoLibro" (keyup.enter) = "agregar()"/>
        <button class="btn btn-outline-primary"  type="button" (click)="agregar()" >
          Agregar
        </button>
      </div>
    </div>
  </div>

  <!--Favoritos-->
  <div class="row mb-3">
    <div class="col col-sm-3">
      <label class="col-form-label">Favoritos</label>
    </div>
    <div class="col col-sm-9" formArrayName="favoritos">
      <!-- <div class="input-group" *ngFor="let favorito of miFormulario.controls['favoritos'].value; let i = index"> -->
        <div class="input-group" *ngFor="let favorito of favoritosArr.controls; let i = index">
        <input type="text" class="form-control" [formControlName]="i" />
        <button class="btn btn-outline-danger" type="button" (click)="eliminar(i)">Eliminar</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button
        class="btn btn-primary float-end"
        type="submit"
      >
        Guardar
      </button>
    </div>
  </div>
</form>


<div class="row">
  <span>Formulario value</span>
  <pre>
    {{ miFormulario.value | json }}
  </pre>
  <hr>
  <span>Favoritos</span>
  <pre>
    {{miFormulario.controls['favoritos'].value | json}}
  </pre>
<hr>
  <span>Nuevo Libro</span>
  <pre>
    {{nuevoLibro.value | json}}
  </pre>
</div>


<!-- <div class="row">
  <span>Datos persona</span>
  <pre>
    {{ persona | json }}
  </pre>
</div> -->

